<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
	
		<title>
			Near Document Detection
		</title>
		<link rel= "stylesheet" type= "text/css" href= "/static/css/bootstrap4-good-news.min.css">
		<link rel= "stylesheet" type= "text/css" href= "/static/css/main.css">
	</head>
	<body>
		{% block content %}
		{% endblock %}

        <script src="/static/js/popper.min.js" charset="utf-8"></script>
        <script src="/static/js/bootstrap.min.js" charset="utf-8"></script>
	</body>
</html>
